@import 'tailwindcss';

/* :root {
    --background: white;
    --foreground: black;
} */

@layer base {
    body {
        @apply bg-white text-black;
    }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

